
/*global*/
body{
    background-color: #141414;
}
*{
    margin: 0;
    padding: 0;
}
/*header*/
header{
    height: 70px;
    display: flexbox;
    border-bottom: 1px solid rgb(102, 102, 102);
    border-right: 1px solid rgb(102, 102, 102);
    border-left: 1px solid rgb(102, 102, 102);
    border-radius: 0px 0px 10px 10px;
    background-color: #222222;
}
nav#aba{
    transform: translateX(-100%);
    position: absolute;
    top: 3px;
    left: 0px;
    width: 25%;
    border: 1px solid #666666;
    transition: 1s;
}
#aba:hover{
    display: inline;
    transform: translateX(0%);
    width: 25%;
    background-color: #222222;
    align-items: center;
    border: 1px solid #666666;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 3px 3px 5px #0e0e0e;
    transition: 1s;
}
img#iconem{
    position: fixed;
    width: 24px;
    height: 20px;
    top: 20px;
    left: 39vh;
}
#aba a{
    color: #fff;
    text-decoration: none;
}

#lupa{
    border-radius: 5px;
    border: 1px #2b2b2b;
    position: relative;
    left: 67vw;
    top: 0vw;
}
#loguin{
    color: wheat;
    width: 50px;
    height: 35px;
    position: relative;
    left: 87%;
    top: -3vh;
    background-color: #E20813;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 2px;
}
#logo{
    font-size: medium;
    font-weight: bold;
    width: 50px;
    height: 35px;
    position: relative;
    left: 47%;
    top: 4vh;
}
li.header{
    list-style: none;
    color: #fff;
    font-weight: 800;
    font-size: 3vh;
    padding: 1px;
}
/*main*/

.plataforma{
    background-color: #2b2b2b;
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: #000000 4px 3px 5px;
}
.imgplat{
    width: 50px;
    height: 50px;
    margin: 10px;
    aling-item: center;
}
.plataforma:hover {
    background-color: #3f3f3f;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 50px;
    align-items: center;
}
.plataforma:hover >img.imgplat{
    width: 55px;
    height: 55px;
    align-items: center;
    margin: 7px;
}

/*footer*/
