
/*global*/
body{
    background-color: #141414;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
div.A{
    display: inline-block;
}
img{
    width: 32.5vw;
}
/*header*/
header{
    height: 70px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 0px 0px 10px 10px;
    background-color: #222222;
}
nav#aba{
    transform: translateX(-100%);
    position: absolute;
    top: 3px;
    left: 0px;
    width: 25%;
    border-radius: 0px 5px 5px 0px;
    background-color: #222222;
    border: 1px solid #fff;
    align-items: center;
    transition: 1s;
}
#aba:hover{
    display: inline;
    transform: translateX(0%);
    width: 25%;
    background-color: #222222;
    align-items: stretch;
    border: 1px solid #fff;
    box-shadow: 3px 3px 5px #0e0e0e;
    transition: 1s;
}
img#iconem{
    position: fixed;
    width: 24px;
    height: 20px;
    top: 20px;
    left: 39vh;
}

nav#aba2{
    transform: translateX(100%);
    position: absolute;
    top: 3px;
    right: 0px;
    width: 25%;
    border-radius: 5px 0px 0px 5px;
    background-color: #222222;
    border: 1px solid #fff;
    transition: 1s;
}
#aba2:hover{
    display: inline;
    transform: translateX(0%);
    width: 25%;
    background-color: #222222;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 3px 3px 5px #0e0e0e;
    transition: 1s;
}
img#iconem2{
    position: fixed;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 39vh;
}

#lupa{
    color: #cacaca;
    border-radius: 5px;
    border: 1px #2b2b2b;
    position: relative;
    left: 67vw;
    top: -0.2vw;
}
#logo{
    font-size: medium;
    font-weight: bold;
    width: 50px;
    height: 35px;
    position: relative;
    left: 47%;
    top: 3vh;
}
li.header{
    list-style: none;
    color: #fff;
    font-weight: 800;
    font-size: 3vh;
    padding: 1px;
}
/*main*/

.plataforma{
    background-color: #2b2b2b;
    width: 70px;
    height: 70px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.imgplat{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.plataforma:hover {
    background-color: #3f3f3f;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.plataforma:hover >img.imgplat{
    width: 55px;
    height: 55px;
    margin: 7px;
}

div.generos{
    display: inline-block;
    background-color: black;
    height: 180px;
    width: 32.5vw;
}
a.categoria{
    text-decoration: none;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}
h1.gen{
    color: #fff; 
    text-align: center;
    font-size: 30px;
}
h1{
    margin-left: 15px;
    font-size: 4vh;
}
/*footer*/
